{% extends "blog/base.html" %}
            {% block content_left %}
                    <section class="comite__members">
                        <span></span>
                        <div class="member">
                            <h3>Président</h3>
                            <img src="images/item1.jpg" alt="Délégué Régional">
                            <h6>Nom & prénom</h6>
                        </div>
                        <span></span>
                        <div class="member__sub">
                            <div class="member">
                                <h3>Vice Président</h3>
                                <img src="images/item1.jpg" alt="Délégué Régional">
                                <h6>Délégué Régional<br> MINMIDT - Littoral</h6>
                            </div>
                            <div>
                                <h6>
                                    Nom<br>
                                    &<br>
                                    Prénom
                                </h6>
                            </div>
                        </div>
                        <span></span>
                        <div class="member__sub">
                            <div class="member">
                                <h3>Gouverneur</h3>
                                <img src="images/item1.jpg" alt="Délégué Régional">
                                <h6>Délégué Régional<br>MINEPDED</h6>
                            </div>
                            <div>
                                <h6>
                                    Nom<br>
                                    &<br>
                                    Prénom
                                </h6>
                            </div>
                        </div>
                    </section>
                    {% endblock content_left %}
                    {% block content_right %}
                    <li>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod</li>
                    {% endblock content_right %}
        