{% extends "blog/base.html" %}
{% block content_left %}
                    <section class="section__members">
                        <span></span>
                        <div class="member">
                            <h3>Délégué Régional</h3>
                            <img src="images/item1.jpg" alt="Délégué Régional">
                            <h6>Nom & prénom</h6>
                        </div>
                        <span></span>
                        <span></span>
                        <div class="member">
                            <h3>Chef de Brigarde Régional</h3>
                            <img src="images/item1.jpg" alt="Délégué Régional">
                            <h6>Nom & prénom</h6>
                        </div>
                        <span></span>
                        <div class="member">
                            <h3>Chef de service <br>des mines</h3>
                            <img src="images/item1.jpg" alt="Délégué Régional">
                            <h6>Nom & prénom</h6>
                        </div>
                        <div class="member">
                            <h3>Chef de service <br>de l'industrie</h3>
                            <img src="images/item1.jpg" alt="Délégué Régional">
                            <h6>Nom & prénom</h6>
                        </div>
                        <div class="member">
                            <h3>Chef de service <br>des affaires générales</h3>
                            <img src="images/item1.jpg" alt="Délégué Régional">
                            <h6>Nom & prénom</h6>
                        </div>
                    </section>
                    <section class="section__attributions">
                        <h2>Les Attributions</h2>
                        <article>
                            <h3>Délégué Régional</h3>
                            <p>(1) Placée sous l'autorité d'un Délégué Régional, la Délégation Régionale
                                des Mines, de l'Industrie et du Développement Technologique est chargée:<br>
                                - de la coordination des activités du Ministère dans la Région;<br>
                                - du suivi des activités des Brigades Régionales de Contrôle des Activités
                                Minières;<br>
                                de l'assistance des opérateurs dans la réalisation des projets industriels;<br>
                                - de la promotion des normes et du suivi de leur application, en liaison avec<br>
                                l'organisme national de normalisation;<br>
                                - du suivi au niveau régional, des programmes de recherche orientée vers la<br>
                                valorisation des matières premières d'origine minérale, agricole, forestière.<br>
                                - de la promotion de la propriété industrielle;<br>
                                - de la promotion des brevets d'invention des nationaux;<br>
                                - du contrôle technique des projets;<br>
                                - de la gestion du personnel;<br>
                                - de la gestion du budget et du matériel;<br> •
                                - de la tenue de la documentation, des archives et des statistiques;<br>
                                - de la mise en œuvre des activités relatives au cadastre minier.<br>
                                <br>
                                (2) Elle comprend:<br>
                                - le Service des Mines, de la Géologie et du Cadastre minier;<br>
                                - le Service de l'Industrie, du Développement Technologique et de la Propriété
                                Industrielle,<br>
                                - le Service des Affaires Générales.</p>
                        </article>
                        <article>
                            <h3>Chef de Brigade de Contrôle des Activités Minières</h3>
                            <p>(01) Placée sous l'autorité d'un Chef de Brigade Régionale, la Brigade
                                Régionale de Contrôle des Activités Minières est chargée:
                                - de la participation à l'organisation et à la supervision des activités de
                                contrôle minier au niveau régional;
                                - de la participation aux activités de contrôle du respect de la règlementation
                                minière au niveau régional;
                                - de la participation aux activités de contrôle du respect des clauses des
                                cahiers de charge par les opérateurs miniers au niveau régional;
                                - de la participation aux activités de contrôle des chantiers d'exploration et
                                d'exploitation minières au niveau régional;
                                -de la participation aux activités de contrôle des chantiers d'exploitation des
                                substances de carrières au niveau régional;
                                - de la participation aux activités de contrôle des sociétés d'exploitation des
                                eaux de sources, des eaux minérales "et des eaux thermo-minérales au
                                niveau régional;
                                - de toute investigation relative au contrôle de l'activité minière, à la demande
                                de la Brigade Nationale ou du Délégué Régional.
                                
                                (2) Elle comprend, outre le Chef de Brigade, deux (02) Contrôleurs Miniers
                                Régionaux.
                                </p>
                        </article>
                        <article>
                            <h3>Chef de Service des Mines</h3>
                            <p>(1) Placé sous l'autorité d'un Chef de Service, le Service des Mines, de la
                                Géologie et du Cadastre Minier est chargé:
                                - de la préparation des titres et actes administratifs relevant des secteurs minier et géologique;
                                - du suivi et du contrôle technique des projets et programmes miniers;
                                - du contrôle de l'exécution des programmes d'action dans le secteur des mines et de la géologie;
                                - du suivi des activités relatives au cadastre minier.
                                - de la mise à jour de la carte provinciale des risques naturels;
                                - de la réception et de l'étude des dossiers relatifs aux demandes d'autorisation
                                et d'agrément, en vue de leur transmission au Ministère;
                                - du suivi des exploitations des eaux minérales, des eaux de source et des eaux
                                thermo-minérales ;
                                - du contrôle des carrières et des mouvements des substances explosives et
                                détonantes;
                                - du suivi de l'encadrement des artisans miniers;
                                - du suivi des activités du laboratoire annexe.
                                
                                (2) Il comprend:
                                - le Bureau des Mines et de la Géologie;
                                - le Bureau du Cadastre Minier,
                                - le Laboratoire Régional des Mines et de la Géologie.</p>
                        </article>
                        <article>
                            <h3>Chef de Service de l'Industrie</h3>
                            <p>(1) Placé sous l'autorité d'un Chef de Service, le Service de l'Industrie, du
                                Développement Technologique et de la Propriété Industrielle est chargé:
                                - de la collecte des statistiques concernant l'industrie;
                                - de l'assistance des investisseurs dans la réalisation des projets industriels;
                                - de la constitution d'une banque de données-pour l'information des opérateurs
                                sur les potentialités économiques et les facilités qui leur sont offertes;
                                - du suivi de l'application des normes;
                                - de la participation à l'inspection des établissements classés dangereux,
                                insalubres ou incommodes;
                                - de la participation au contrôle des appareils à pression de gaz et à pression de vapeur d'eau, des appareils de levage et des engins motorisés;
                                - des Analyses et des Essais sur les substances minérales dans le cadre des
                                dossiers d'autorisation d'exploitation relevant de la compétence de la
                                Délégation Régionale;
                                - de l'application de la réglementation, ainsi que du suivi du fonctionnement des entreprises industrielles;
                                - du suivi des activités de transformation des matières premières agricoles, forestières et minérales ;
                                - du suivi du respect de la réglementation en matière de développement technologique et de la propriété industrielle ;
                                - de la mise en œuvre des mesures incitatives et de soutien à l'innovation technologique ;
                                - du suivi et du contrôle des normes technologiques ;
                                - de la promotion de la propriété industrielle au niveau régional;
                                - de la promotion et de la mise en œuvre des technologies non polluantes dans
                                le secteur industriel national;
                                - du suivi au niveau régional, des programmes de recherche orientée vers la
                                valorisation des matières premières d'origine minérale, agricole, forestière.
                                
                                (2) Il comprend:
                                - le Bureau de Suivi des Entreprises Industrielles;
                                - le Bureau de Suivi de la Normalisation;
                                - le Bureau de Développement Technologique et de la Propriété Industrielle.</p>
                        </article>
                        <article>
                            <h3>Chef de Service des Affaires Générales</h3>
                            <p>(1) Placé sous l'autorité d'un Chef de Service, le Service des Affaires
                                Générales est chargé:
                                - de la gestion du personnel;
                                - de la participation à l'élaboration du budget;
                                - du suivi de l'exécution du budget;
                                - de l'équipement et du matériel,
                                - de la gestion du courrier et des liaisons.
                                
                                (2) Il comprend:
                                - le Bureau du Personnel;
                                - le Bureau du Budget et du Matériel,
                                - le Bureau du Courrier et de la Liaison.</p>
                        </article>
                    </section>
                    {% endblock content_left %}
                    {% block content_right %}
                            <li>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod</li>
                    
                    {% endblock content_right %}