{% extends "blog/base.html" %}

{% load static %}

{% block content_left %}
        <div class="section__pdf">
            <div class="pdf">
                <div class="left">
                    <h6>LOI REGISSANT LES APPAREILS A PRESSION DE GAZ ET A PRESSION DE VAPEUR D'EAU</h6>
                </div>
                <div class="right">
                    <img src="{% static 'stats/images/pdf.jpg' %}" alt="PDF">
                    <a href="#">Télécharger le PDF</a>
                </div>
            </div>
        </div>
{% endblock content_left %}