{% extends "blog/base.html" %}

{% block title %}{{post.title}}{% endblock %}
{% block content_left %}
<h1 class="blogTitle">{{post.title}}</h1>
  <div class="blog-container">
  <article class="card">
		{% comment %} <div class="card__meta">
			<span class="icon icon--time">6 min</span>
			<span class="icon icon--comment"><a href="#">2 comments</a></span>
		</div> {% endcomment %}
		<header class="card__thumb">
			<img src="/static/images/{{post.thumbnail}}" alt="{{post.title}}">
		</header>
		<div class="card__date">
			<span class="card__date__day">{{ post.publish }}</span>
		</div>
		<div class="card__body">
			<div class="card__category"><a href="#">{{ post.category }}</a></div>
			<div class="card__title"><a href="{{ post.get_absolute_url }}">{{ post.title }}</a></div>
			<div class="card__post">
				<p>{{ post.body }}</p>
			</div>
		</div>
	</article>
  </div>
{% endblock %}
{% block recent_articles %}
  {% for post in posts %}
			{% if forloop.counter0 < 5 %}
				<li><a href="{{ post.get_absolute_url }}">{{ post.title }}</a></li>
			{% endif %}
  {% endfor %}
{% endblock %}